* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*-----------------------------menu--------------------------*/

.menu {
  justify-content: space-between;
  margin: 10px;
  text-align: center;
}

.menu ul {
  padding: 20px;
}

.menu li {
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

.menu a {
  color: black;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
}

.menu_text {
  text-align: center;
}

/* ----------------menu slut------------------------------- */

/*---------------------------footer-------------------------*/
@media (min-width: 600px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
  }
}

footer {
  background-color: white;
  padding-bottom: 20px;
  margin-top: 40px;
}

.h1_footer {
  font-size: 17px;
  margin-top: 4%;
  padding-left: 200px;
  padding-right: 200px;
  grid-area: 1/1;
  margin-bottom: 12px;
  font-family: "Kanit", sans-serif;
}

.p_footer {
  font-size: 12px;
  padding: 5px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 8px;
  font-family: "Heebo", sans-serif;
}
/*------------------------footer slut----------------------*/
